Repository opus-codium/puppet-nextcloud, pull requests merged in 2024-06, with the labels that each got.

#7 Add acceptance tests
  .github/workflows/ci.yml
  .sync.yml
  spec/acceptance/nextcloud_spec.rb
  spec/spec_helper_acceptance.rb
Labels: skip-changelog

#8 Make sure `/srv/www` directory exist for CI
  spec/acceptance/nextcloud_spec.rb
Labels: skip-changelog

#9 Fix Ubuntu 18.04 PHP version
  data/os/Debian/Ubuntu/18.04.yaml
Labels: bug

#11 Fix dependencies installation with PHP 8.0+
  manifests/dependencies.pp
Labels: bug

#12 Make sure cron(8) is installed in CI
  spec/spec_helper_acceptance.rb
Labels: skip-changelog

#13 Set the maintenance window to 2:00-6:00 UTC
  templates/custom.config.php.epp
Labels: enhancement

#14 Fix AppStore from CLI
  templates/custom.config.php.epp
  templates/occ.epp
Labels: bug

#15 Update from Opus-Codium modulesync_config
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  .sync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync
